html {
    -webkit-locale: "uk";
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body {
    background: #212121;
    margin: 0;
    width: 100%;
    align-items: center;
    color: #f1f2f2;
    padding: 20px;
    max-width: 1230px;
    justify-content: center;
    height: 100vh;
    font-family: garamond;

}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

body::-webkit-scrollbar-track {
    background-color: #444242;
}

.navbar {
    display: flex;
    min-width: 1200px;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    color: #f1f2f2;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.last__name {
    padding: 0;
    margin: 0;
    font-family: Garamond;
    font-size: 25px;
    font-weight: bold;
    color: aqua;
    text-decoration: none;
}

.navbar__link {
    color: #f1f2f2;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
    font-family: Garamond;
    font-size: 20px;
    
    
}


.navbar__link:hover {
    color: aqua;
    text-shadow: 1px 0px 10px aqua;
}

.header-container {
    display: flex;
}

.photo-container {

    width: 30%;
    display: flex;
    justify-content: space-around;
}

.header {
    margin-top: 90px;
    margin-left: 380px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    font-family: Garamond;
}

.name {
    margin-top: 94px;
    margin-bottom: 0px;
    color: #f1f2f2;
    font-size: 60px;
}

.position {
    margin: 0;
    font-weight: 600;
    color: aqua;
}




.photo {
    margin-top: 30px;
    margin-left: 350px;
    width: 350px;
    height: auto;
    border-radius: 0px;

}

.cards {
    max-width: 1200px;
}


.container__card {
    width: 700px;
    height: 250px;
    background: #212121;
    box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.container__card:hover {
    box-shadow: 1px 20px 50px aqua;
}


.card__1 {
    display: flex;
    margin-left: 260px;
    z-index: 1;

}

.container__birthday {
    width: 450px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;


}

.day__birth {
    color: url("/img/photo-2.jpg");
    font-size: 120px;
    margin: 0;
    font-weight: 600;
    margin-right: 0;

}

.year__birth {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
    color: aqua;

}

.about-description {
    color: #f1f2f2;
}

.container_about {
    display: flex;
    max-width: 400px;
    padding-left: 00px;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 50px;

}

.card__2 {
    position: relative;
    top: -35px;
    margin-left: 450px;
    z-index: 2;

}





.skill__list {
    list-style: none;
    margin: 0;
    display: flex;
    max-width: 650px;
}

.skill-item {
    margin-top: 25px;
    position: relative;
    border: 0px solid #f1f2f2;
    border-radius: 5px;
    padding: 10px 26px;
    gap: 25px;
    width: 80px;
    height: 20px;
    text-align: center;


}

@keyframes changeColor {
    0% {
        color: #f1f2f2;
    }

    50% {
        color: aqua;
        text-shadow: 1px 0px 10px aqua;
    }

    100% {
        color: #f1f2f2;
    }
}

.python {
    left: 0px;
    top: -20px;
    animation: changeColor 1s ease infinite;


}

.PyCharm {
    left: -90px;
    top: 25px;
    animation: changeColor 1s ease infinite;
    animation-delay: 0.5s;

}

.SQL {
    left: -180px;
    top: 70px;
    animation: changeColor 1s ease infinite;
    animation-delay: 1s;
}

.java_core {
    left: -270px;
    top: 115px;
    animation: changeColor 1s ease infinite;
    animation-delay: 1.5s;
}

.javascript {
    left: -360px;
    top: 160px;
    animation: changeColor 1s ease infinite;
    animation-delay: 2s;
}

.HTML {
    right: -150px;
    top: -85px;
    animation: changeColor 1s ease infinite;
    animation-delay: 2.5s;
}

.CSS {
    right: -70px;
    top: -40px;
    animation: changeColor 1s ease infinite;
    animation-delay: 3s;
}

.Pandas {
    right: 10px;
    top: 5px; 
    animation: changeColor 1s ease infinite;
    animation-delay: 3.5s;
}

.git {
    right: 95px;
    top: 50px;
    animation: changeColor 1s ease infinite;
    animation-delay: 4s;
}

.visual__studio {
    right: 180px;
    top: 95px;
    
    animation: changeColor 1s ease infinite;
    animation-delay: 4.5s;

}

.skill-line {
    border: 2px solid #f1f2f2;

}

.line__skill {
    border: 2px solid aqua;
}

.skill-title {
    position: relative;
    font-size: 30px;
    left: 500px;
    max-width: 70px;
    top: -100px;
}


.card__3 {
    position: relative;
    top: -50px;
    margin-left: 150px;
    z-index: 3;

}


.certeficate-title {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25px;
    padding-top: 10px;
    font-family: garamond;
    font-size: 20px;
    max-width: 190px;
}

.all__certificate {
    display: flex;
    position: relative;
    text-decoration: none;
    justify-content: flex-end;
    bottom: 225px;
    right: 27px;
    color: #f1f2f2;
    font-size: 20px;
}

.certeficate {

    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.certeficate-item {
    max-width: 200px;
    border-radius: 5px;
    cursor: pointer;

}

.size-certeficate {
    width: 200px;
    height: 145px;

}

.certeficate__title {
    font-size: 16px;
    margin: 0;

}



.course__list-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-family: garamond;
    font-size: 20px;
    min-width: 550px;

}

.course__list-item:hover {
    color: aqua;
    text-shadow: 1px 0px 10px aqua;
}

.table__title {
    text-align: start;
    cursor: pointer;
    min-width: 150px;

}

.name_title {
    min-width: 550px;
}
.certeficate-company{
    min-width: 100px;
    text-align: start;
    cursor: pointer;
}


.table-container {
    max-height: 0;

    transition: max-height 0.5s ease-out;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 19%;
    margin-right: 19%;


}

#searchInput {
    border: none;
    background: #212121;
    color: #f1f2f2;
    margin-top: 23px;
    margin-left: 250px;
    position: absolute;
    width: 300px;

    &:focus {
        border-radius: 5px;
        border: 0px solid aqua;
        outline: none;
        background: linear-gradient(to bottom, #212121, rgba(0, 255, 255, 0.138));
    }
}

.course-table {
    width: 100%;
    min-width: 600px;
    background: linear-gradient(to bottom, #212121, rgba(0, 255, 255, 0.062));
    counter-reset: rowNumber;
}

td:first-child::before {
    counter-increment: rowNumber;
    content: counter(rowNumber);
    display: inline-block;
    margin-right: 0.5em;
}

.sort__arrow-name {
    display: inline-table;


}

.sort__arrow-date {
    display: inline-table;


}
.sort__arrow-company {
    display: inline-table;


}

.card__4 {
    position: relative;
    top: -90px;
    margin-left: 400px;
    z-index: 4;
}

.eperience-title {
    position: relative;
    max-width: 90px;
    left: 550px;
    top: 20px;
}

.eperience-discription {
    max-width: 500px;
    margin-left: 50px;
    font-family: garamond;
}

.eperience__link {

    color: aqua;
}

.card__5 {
    position: relative;
    top: -140px;
    margin-left: 50px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.education-title {
    max-width: fit-content;
    margin-left: 30px;
    margin-top: 30px;
}

.education-discription {
    max-width: 200px;
    margin-left: 50px;
}

.language {
    max-width: fit-content;
    margin-right: 50px;
    margin-top: 10px;
}

.language__title {
    max-width: fit-content;
}

.card__6 {
    position: relative;
    top: -220px;
    margin-left: 450px;
    z-index: 6;
    display: flex;
    justify-content: space-between;
}



.contact_title {
    font-family: Garamond;
    max-width: fit-content;
    margin-right: 50px;

}

.contact__conatainer {
    margin-top: 50px;
    margin-bottom: 50px;

}

.contact__list {
    list-style: none;
    margin: 0;

}

.contact__element-list {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-start;
}

.contact__type {
    min-width: 100px;
    margin: 0;
    color: #f1f2f2;
}

.contact__link {
    text-decoration: none;
    color: #f1f2f2;
}

.contact__link:hover {
    color: aqua;
    text-shadow: 1px 0px 10px aqua;
}

.footer {
    height: 30px;
    color: #f1f2f2;
    margin: 0;
    text-align: center;
}

.footer__title {
    margin-top: 0px;
    font-size: x-large;
}